.container{
	padding: 40px;
	font-size: 20px;
	background-color: #7CFC00;
	border-radius: 5px;
}

.container div{
	padding: 10px;
}

.checkbox-inline{
	zoom:2;
}

.btn:hover {
	background-color: white;
	color: green;
}

